.parent{
    background-color: rgb(75, 140, 236);
    width: 381px;
    height: 330px;
    display: flex;
    align-items:center;
    justify-content:space-evenly;
    /*justify content used for distributing space
    within a box*/
}
.col{
    width: 50px;
    height: 200px; 
  padding: 10px;
}          
.col1{
    
    background-color: #9f55ef;
}
.col2{
    
    background-color: rgb(32, 230, 98);
}
.col3{ 
    
    background-color: rgb(157, 42, 233);
}
.col4{
   
    background-color: rgb(241, 142, 28);
}
.col5{
   
    background-color: rgb(235, 32, 76);
}