.container{
    color: #bed7f8;
    border: solid 2px black;
    width: 27%;
    margin-top: 5%;
    margin-left: 6%;
    padding-bottom: 1%;
    background-color: black;
}

h1{
    text-align: center;
}

button{
    margin-left: 20%;
}

i{
    color: rgb(10, 10, 10);
    background-color: rgb(240, 219, 193);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 4px;
}  

p{
    color: rgb(255, 255, 254);
}

a{
    text-decoration: none;
    color: rgb(178 189 244);
    font-weight: bold;
}

input{
    width: 80%;
}

#errors{
    color: red;
}