
/*regn page   */
div{   
    margin-top: 20ch;
    margin-left: 24%;
    border-style: solid;
    width: 40%;
    height: 290px;
   
}

#fname{
    margin-top: 3ch;
    margin-left: 19%;
}

#acno{
    margin-top: 3ch;
    margin-left: 7%;
}

#ac_balance{
    margin-top: 3ch;
    margin-left: 15.5%;
}

#passwordd{
    margin-top: 3ch;
    margin-left: 12.5%;
}





/*login page*/
.Container1{
    margin-top: 9ch;
    margin-left: 24%;
    width: 44%;
    height: 250px;
}

h1{
   color: rgb(6, 6, 15);
   text-align: center;
   text-transform:uppercase;
}

input{
    width: 55%;
}

#password1{
    margin-top: 5%;
    margin-left: 7%;
}

#accno{
margin-left: 2%;
}

.button{
    margin-top: 8%;
    margin-left: 20%;
}

#label{
    margin-top: 5%;
    margin-left: 49px;
}



