body {
    background-color: rgb(153, 240, 245);
    height: 1500px;
}

.navbar{
   margin-top: 3%;
}

.nav-item1{
    margin-left: 35%;
}

.nav-item2{
    margin-left: 10%;
}

.nav-item3{
    margin-left: 10%;
    margin-top: 4%;
}

.nav-item4{
    margin-left: 10%;
}

.container{
    display: flex;
    margin-left: 65%;
    font: x-large bold;
}

a{
  text-decoration: none;
  color: black;
}

