body {
    background-image: linear-gradient(120deg, #89f19e 0%, #8fd3f4 100%);
}

.navbar{
    margin-top: 2.5%;
}

.nav-item1{
    margin-left: 35%;
}

.nav-item2{
    margin-left: 10%;
}

.nav-item3{
    margin-left: 10%;
    margin-top: 4%;
}

.nav-item4{
    margin-left: 10%;
}

.container{
    display: flex;
    margin-left: 65%;
    font: x-large bold;
}

a{
  text-decoration: none;
  color: black;
}

#result{
    margin-top: 20%;
}

#user{
    margin-top: 20%;
    
}


