.welcome{
    color: red;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.caravan{
color:orange;
font-weight: bolder;
text-align: center;
margin-left:270%;
font-size:40px
}

.carousel{
margin-top:10%;
}

.con{
    width:10%
}