/* You can add global styles to this file, and also import other style files */
html,body{
    background-image: url(./assets/fb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:multiply;
    height: 100%;
}