.container{
border: rgb(255, 255, 255)  2px;
margin-left: 25%;
margin-top: 5%;
width: 29%;
background-color: rgb(27, 27, 27);
border-radius: 8px;
}

input{
    height: 35px;
    width: 100%;
    background-color: rgb(215, 215, 245);
}

button{
    margin-bottom: 5%;
    margin-left: 37%;
    width: 24%;
}

h2{
    text-align: center;
    color: azure;
}

p{
    font-style: italic;
    font-weight: 400;
    color: azure;
}