div{
    position: fixed;
    background-color: rgb(248, 203, 203);
    border-style:inherit;
    width: 35%;
    height: 380px;
    left: 64%;
    top: 41%;
}
button{
    width: 20%;
}
h3{
    color: black;
}

