body{
    background-color:rgb(243, 217, 208);
}
h1{
    color: green;
    text-align: center;
}
button:hover{
    background-color: rgb(174, 230, 91);
    font-family:fantasy; 
}
div{
    border-style: solid;
}
textarea{
    border:double black ;
    background-color: rgb(146, 180, 245);
}
.d1{
    background-color: burlywood;
}
.d2{
    background-color: rgb(236, 233, 60);
}
.a1{
    border-style: solid;
    color: black;
    background-color: rgb(252, 252, 252);
}
