.credit{
    margin-top: 20%;
    margin-left: -10%;
}


h1{
    color: rgb(238, 222, 131);
    font-style: italic;
    font-weight: 800;
}

.card{
    width: 350px;
    height: 245px;
    background-color: rgb(184 180 180);
    margin-left: 7px;
}

input{
    margin-top: 10px;
    color: rgb(15, 15, 15);
    font-weight: 600;
}

button{
    margin-top: 20px;
    width: 110px;
    margin-left: 30%;
}

.debit{
    margin-top: -35.2%;
    margin-left: 59%
}

.card1{
    width: 350px;
    height: 245px;
    background-color: rgb(35, 35, 35);
    margin-left: 7px;
}

#logout{

    margin-top: 0%;
}



.navbar{
    width: 987px;
    margin-left: -21%;
}
.navbar-text{
    font-style: italic;
    font-weight: bolder;
    color: black;
}

